* {
  font-size: 0.89rem !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bg-ddd {
  background-color: #ddd !important;
}
.bg-fda {
  background-color: #e2efda  !important;
  border-color: #e2efda  !important;
}
.bg-bad {
  background-color: #f8cbad !important;
  border-color: #f8cbad !important;
}
.bg-9b2 {
  background-color: #a9d9b2 !important;
  border-color: #a9d9b2 !important;
}
.bg-bf7 {
  background-color: #ddebf7 !important;
  border-color: #ddebf7 !important;
}
.bg-2e6 {
  background-color: #9bc2e6 !important;
  border-color: #9bc2e6 !important;
}
.bg-cab {
  background-color: #748cab !important;
  border-color: #748cab !important;
}
.bg-f50 {
  background-color: #333f50 !important;
  border-color: #333f50 !important;
}
.bg-06b {
  background-color: #3a506b !important;
  border-color: #3a506b !important;
}
.bg-959 {
  background-color: #595959 !important;
  border-color: #595959 !important;
}
.bg-3a8{
  background-color: #1633a8 !important;
}

.border-ddd{
  border-color: #ddd !important;
}
.w-5{
  width: 5% !important;
}
.w-6{
  width: 6% !important;
}

.w-10{
  width: 10% !important;
}
.w-40{
  width: 40% !important;
}
.w-95{
  width: 95% !important;
}

.mb-m-1{
  margin-bottom: -1px !important;
}

table > tbody > tr > th{
  width: 130px !important;
  height: 34px !important;
  text-align: center;
}

input{
  width: 100%;
  border: #ddd;
}

.btn-jeungbing{
  padding: 1px 6px 0px !important;
}

header > div.accordion > div > h2 > button{
  font-size: 1.18rem !important;
  font-weight: 900;
}
.mx-95{
  --bs-modal-width: 95% !important;
}
.mx-700{
  --bs-modal-width: 700px !important;
}
.form-check-custom{
  min-height: fit-content !important;
  margin-bottom: 0 !important;
}

.accordion-active-bg-none{
  --bs-accordion-active-bg: white !important;
  --bs-accordion-btn-focus-box-shadow: none !important;
}
.accordion-active-bg-none > button{
  padding: 0 !important;
  margin-top: 1% !important;
}
.accordion-active-bg-none > button::after{
  display: none !important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
